

# spring:
#     application:
#       name: user-service
#     config:
#       import: optional:configserver:http://localhost:8888


#15-01-26
# Use for Deployment on Render 
spring:
  application:
    name: user-service

  cloud:
    config:
      enabled: false

  datasource:
    url: ${DATABASE_URL}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

eureka:
  client:
    enabled: false

